@page
@using Vulpes.Zinc.Domain.Models
@using Vulpes.Zinc.Web.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <h1 class="display-4">Welcome</h1>
    @if (string.IsNullOrEmpty(Model.LoggedUsername))
    {
        <p>No user signed in.</p>
        <a href="/register">Register</a>
        <a href="/log-in">Log In</a>
    }
    else
    {
        <p>Welcome to Zinc, @Model.LoggedUsername!</p>
        <ul>
            <li>
                <a href="/log-out">Log Out</a>
            </li>
            <li>
                <a href="/create-project">Create a new project</a>
            </li>
            <li>
                <a href="/projects">View projects</a>
            </li>
        </ul>
    }
</div>
