@page "/projects"
@using Vulpes.Zinc.Web.Routing
@model Vulpes.Zinc.Web.Pages.ProjectsModel

<div class="row">
    <div class="col">
        <h1>Projects</h1>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary" href="@ZincRoute.CreateProject()">Create a new project</a>
    </div>
</div>
<ul>
    @foreach(var project in Model.AccessibleProjects)
    {
        <li>
            <a href="@ZincRoute.Project(project.Shorthand)">
                @project.Name <p class="text-muted small">(@project.Shorthand)</p>
            </a>
        </li>
    }
</ul>