@page "/projects"
@using Vulpes.Zinc.Web.Routing
@model Vulpes.Zinc.Web.Pages.ProjectsModel

<h1>Projects</h1>
<ul>
    @foreach(var project in Model.AccessibleProjects)
    {
        <li>
            <a href="@ZincRoute.Project(project.Shorthand)">
                @project.Name <p class="text-muted small">(@project.Shorthand)</p>
            </a>
        </li>
    }
</ul>