@page "/projects/{ProjectShorthand}"
@model Vulpes.Zinc.Web.Pages.ProjectModel
@{
}
<h1>Project</h1>

<p>Viewing:</p>
<p>@Model.Project.Name (@Model.Project.Shorthand)</p>

<a href="/projects/@Model.Project.Shorthand/create-ticket" >Create Ticket</a>